<fieldset>
  <legend>Users</legend>
  <div class="users d-flex row ">
    <app-user-item *ngFor="let newUser of users; let i = index"
                   [newUser]="newUser"
    ></app-user-item>
  </div>
</fieldset>



