<div [ngClass]="{'border border-primary bg-light p-4 m-1': true, 'border-danger': isSelected}" (click)="onClick()">
  <h4 class="border-dark p-2">{{ group.groupName }}</h4>
  <ul>
    <li *ngFor="let newUser of group.getUsers() ">{{newUser.name}}</li>

  </ul>
</div>

