<ng-container class="container">
  <button type="submit" class="bg-primary p-2 m-2" (click)="onOpenForm()">Manage</button>
  <button type="submit" class="bg-primary p-2" (click)="onOpenUsers()">Users and Groups</button>
</ng-container>
<div class="container d-flex justify-content-between mt-4 bg-light">
  <app-new-user *ngIf="openForm"></app-new-user>
  <ng-container *ngIf="openUsers">
    <app-users >{{ users }}</app-users>
    <app-groups ></app-groups>
  </ng-container>

</div>
